exportPattern("^[[:alpha:]]+")
import(XML)
import(reshape2)
import(rCharts)
import(rgeos)
import(ggmap)
import(rgdal)
import(RJSONIO)
import(bitops)
import(RCurl)
import(tm)
import(maps)
import(ggplot2)
import(devtools)
import(streamR)
import(httr)
import(ROAuth)
import(twitteR)
